.navbar-jubeliness-app {
  padding: 0 40px;

  @include media-breakpoint-down(md) {
    padding: 0.5rem 1rem;
  }
  .navbar-nav {
    .nav-item {
      margin-right: 15px;
    }

    .dropdown-menu {
      @include media-breakpoint-down(md) {
        max-width: 5rem;
      }
    }
  }
}
